*,

::after,

::before {

  margin: 0;

  padding: 0;

  box-sizing: content-box;
}


.container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 0.5fr;
  grid-template-rows: 1fr 3.5fr 1fr;
  gap: 0px 3px;
 background-image:  linear-gradient(to right, rgb(19, 14, 14), rgb(187, 168, 168));
  background-image: url("Images/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-template-areas:
    "header header header"
    "sidebar main rightside"
    "footer footer footer";
}

.header {
  grid-area: header;
  /* single image */
  background-image:  linear-gradient(to right, rgb(19, 14, 14), rgb(187, 168, 168));
  background-image: url("Images/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Noto Serif", system-ui;
  font-weight: lighter;
  font-style: normal;
  font-variation-settings: 'wdth'100;
  font-variation-settings: 'wght'50;
  font-size: large;
  inline-size: fit-content;
  min-block-size: 100vh;
  display: inline-flex;
  place-content: center;
  place-items: flex-start left;
}
  .topintro h1 {
  grid-area: header;
  font-size: larger;

  font-weight: 400;
padding-inline-end: 1em;
  color: transparent;

  background-clip: text;

  -webkit-background-clip: text;
  text-align: start;

  margin: auto;

  text-shadow: 1px 1px 1px #957dad,

    1px 2px 1px #957dad,

    1px 3px 1px #957dad,

    1px 4px 1px #957dad,

    1px 5px 1px #957dad,

    1px 6px 1px #957dad,

    1px 10px 5px rgba(16, 16, 16, 0.5),

    1px 15px 10px rgba(16, 16, 16, 0.4),

    1px 20px 30px rgba(16, 16, 16, 0.3),

    1px 25px 50px rgba(16, 16, 16, 0.2);

  font-family: Noto, serif;
}

.logo {
     grid-area: header;
  float: inline-start;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  z-index: 1;
  color: rgb(58, 166, 216);
  padding: 20px;
}
.intro {
  grid-area: main;
  /* single image */
  background-image:  linear-gradient(to right, rgb(19, 14, 14), rgb(187, 168, 168));
  background-image: url("Images/background1.jpg");
  background-size: 30%;
  background-repeat: no-repeat;
  font-family: "Noto Serif", system-ui;
  font-weight: lighter;
  font-style: normal;
  font-variation-settings: 'wdth'100;
  font-variation-settings: 'wght'60;
  font-size: 10vw;
  inline-size: auto;
writing-mode: horizontal-tb;
 min-block-size: 20px;
  display: flow-root;
  place-content: center start;
  place-items: flex-start left;
}

.footer {
  grid-area: footer;
  background-image:  linear-gradient(to right, rgb(19, 14, 14), rgb(187, 168, 168));
  background-image: url("Images/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 40px;
  display: block;
  place-content: start;
  place-items: flex-start left;
  font-size: 1em
}
.astrodividermask:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  inline-size: 100%;
  block-size: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px #049372
}

.astrodivider span {
  inline-size: 50px;
  block-size: 50px;
  position: absolute;
  inset-block-end: 100%;
  margin-block-end: -25px;
  inset-inline-start: 50%;
  margin-inline-start: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #4fb39c;
  background: #fff
}

.astrodivider i {
  position: absolute;
  inset-block-start: 4px;
  inset-block-end: 4px;
  inset-inline-start: 4px;
  inset-inline-end: 4px;
  border-radius: 100%;
  border: 1px dashed #68beaa;
  text-align: center;
  line-height: 40px;
  font-style: normal;
  color: #049372
}

.purple .astrodividermask:after {
  box-shadow: 0 0 8px #886fac
}

.astrodivider.purple span {
  box-shadow: 0 2px 4px #ab9ac4
}

.astrodivider.purple i {
  border: 1px dashed #b7a8cd;
  color: #886fac
}

.neonpurple .astrodividermask:after {
  box-shadow: 0 0 8px #9d00ff
}

.astrodivider.neonpurple span {
  box-shadow: 0 2px 4px #ba4cff
}

.astrodivider.neonpurple i {
  border: 1px dashed #c466ff;
  color: #9d00ff
}

.sidebar {
  grid-area: sidebar;
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(84, 9, 121, 1) 44%, rgba(0, 212, 255, 1) 100%);
  background-repeat: no-repeat;
  block-size: 300px;
  position: relative;
  inset-block-start: auto;
  flex-direction: column;
  flex-wrap: wrap;
  inline-size: 100%;
  block-size: 100%;
  display: -webkit-inline-box;
}

.sidebar p,
ul {
  margin-block-start: 5%;
  font-size: 1.8em;
  list-style-type: none;
  list-style-position: outside;

  background-color: #19a599;
  text-align: start;
  display: -webkit-inline-box;
   flex-direction: column;
  flex-wrap: wrap;
}

li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

.rightside {
  grid-area: rightside;
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(84, 9, 121, 1) 44%, rgba(0, 212, 255, 1) 100%);
  background-repeat: no-repeat;
  block-size: 300px;
  position: relative;
  inset-block-start: auto;
  flex-direction: column;
  flex-wrap: wrap;
  inline-size: 100%;
  block-size: 100%;
  display: -webkit-inline-box;
}

.main {
  grid-area: main;
 background-image:  linear-gradient(to right, rgb(19, 14, 14), rgb(187, 168, 168));
  background-repeat: repeat;
  font-family: "Noto Serif", system-ui;
  font-weight: lighter;
  font-style: normal;
  font-variation-settings: "wdth"100;
  font-size: 48px;
  inline-size: fit-content;
  min-block-size: 100vh;
  display: inline-flex;
  place-content: center start;
  place-items: flex-start left;
}

.main h2 {

  font-size: 70px;

  font-weight: 600;


  color: transparent;

  background-clip: text;

  -webkit-background-clip: text;
  text-align: start;

  margin: auto;

  text-shadow: 1px 1px 1px #957dad,

    1px 2px 1px #957dad,

    1px 3px 1px #957dad,

    1px 4px 1px #957dad,

    1px 5px 1px #957dad,

    1px 6px 1px #957dad,

    1px 10px 5px rgba(16, 16, 16, 0.5),

    1px 15px 10px rgba(16, 16, 16, 0.4),

    1px 20px 30px rgba(16, 16, 16, 0.3),

    1px 25px 50px rgba(16, 16, 16, 0.2);

  font-family: Noto, serif;
}


.wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "header header header"
    "sidebar main rightside"
    "sidebar main rightside"
    "sidebar main rightside"
    "sidebar main rightside"
    "footer footer footer";
}

@media only screen and (min-inline-size: 250px) {
  .wrapper {

    grid-template-columns: 10% auto;
    grid-template-areas:
      "header header header"
      "sidebar main rightside"
      "sidebar main rightside"
      "sidebar main rightside"
      "sidebar main rightside"
      "footer footer footer";
  }

  @media only screen and (min-inline-size: 300px) {
    .wrapper {
      grid-gap: 20px;
      grid-template-columns: 100px auto 100px;
      grid-template-areas:
        "header  header  header"
        "sidebar main rightside"
        "footer  footer  footer";
      max-inline-size: 300px;
    }
  }
}