*,

::after,

::before {

  margin: 0;

  padding: 0;

  box-sizing: content-box;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 0.5fr;
  grid-template-rows: 1fr 3.5fr 1fr;
  gap: 0px 3px;
  background-image: linear-gradient(rgb(19, 14, 14), rgb(187, 168, 168));
  background-image: url("Images/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-template-areas:
    "header header header"
    "sidebar main rightside"
    "footer footer footer";
}

.header {
  grid-area: header;
  /* single image */
  background-image: linear-gradient(rgb(19, 14, 14), rgb(187, 168, 168));
  background-image: url("Images/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Noto Serif", system-ui;
  font-weight: lighter;
  font-style: normal;
  font-variation-settings: 'wdth'100;
  font-variation-settings: 'wght'50;
  font-size: large;
  inline-size: fit-content;
  min-block-size: 100vh;
  display: inline-flex;
  place-content: center;
  place-items: flex-start left;
}

.topintro h1 {
  grid-area: header;
  font-size: larger;

  font-weight: 400;
  padding-inline-end: 1em;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  text-align: start;

  margin: auto;

  text-shadow: 1px 1px 1px #957dad,

    1px 2px 1px #957dad,

    1px 3px 1px #957dad,

    1px 4px 1px #957dad,

    1px 5px 1px #957dad,

    1px 6px 1px #957dad,

    1px 10px 5px rgba(16, 16, 16, 0.5),

    1px 15px 10px rgba(16, 16, 16, 0.4),

    1px 20px 30px rgba(16, 16, 16, 0.3),

    1px 25px 50px rgba(16, 16, 16, 0.2);

  font-family: Noto, serif;
}

.logo {
  grid-area: header;
  float: inline-start;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  z-index: 1;
  color: rgb(58, 166, 216);
  padding: 20px;
}

.sidebar {
  grid-area: sidebar;
  background-image: linear-gradient(90deg, rgb(28, 26, 73) 0%, rgba(84, 9, 121, 1) 44%, rgba(0, 212, 255, 1) 100%);
  background-repeat: no-repeat;
  block-size: 300px;
  position: relative;
  inset-block-start: auto;
  flex-direction: column;
  flex-wrap: wrap;
  inline-size: 100%;
  block-size: 100%;
  display: -webkit-inline-box;
}

.sidebar p,
ul {
  margin-block-start: 5%;
  font-size: 1.8em;
  list-style-type: none;
  list-style-position: outside;

  background-color: #19a599;
  text-align: start;
  display: -webkit-inline-box;
  flex-direction: column;
  flex-wrap: wrap;
}

li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

.rightside {
  grid-area: rightside;
  background-image: linear-gradient(90deg, rgb(96, 93, 148) 0%, rgba(84, 9, 121, 1) 44%, rgba(0, 212, 255, 1) 100%);
  background-repeat: no-repeat;
  block-size: 300px;
  position: relative;
  inset-block-start: auto;
  flex-direction: column;
  flex-wrap: wrap;
  inline-size: 100%;
  block-size: 100%;
  display: -webkit-inline-box;
}

.rightside .musicbox {
  grid-area: rightside;
  display: block;
  block-size: 100%;
  inset-inline-start: 25%;
  position: static;
  inset-block-start: 25%;
  inline-size: 100%;

}

.article {
  grid-area: main;
  /* single image */
  background-image: linear-gradient(to right, rgb(63, 32, 32), rgb(187, 168, 168));
  background-image: url("Images/background1.jpg");
  background-size: 30%;
  background-repeat: no-repeat;
  font-family: "Noto Serif", system-ui;
  font-weight: lighter;
  font-style: normal;
  font-variation-settings: 'wdth'100;
  font-variation-settings: 'wght'60;
  font-size: 10vw;
  inline-size: auto;
  writing-mode: horizontal-tb;
  min-block-size: 20px;
  display: flow-root;
  place-content: center start;
  place-items: flex-start left
}

.about h5 {

  font-size: 70px;

  font-weight: 600;


  color: transparent;

  -webkit-background-clip: text;
  background-clip: text;
  text-align: start;

  margin: auto;

  text-shadow: 1px 1px 1px #957dad,

    1px 2px 1px #957dad,

    1px 3px 1px #957dad,

    1px 4px 1px #957dad,

    1px 5px 1px #957dad,

    1px 6px 1px #957dad,

    1px 10px 5px rgba(16, 16, 16, 0.5),

    1px 15px 10px rgba(16, 16, 16, 0.4),

    1px 20px 30px rgba(16, 16, 16, 0.3),

    1px 25px 50px rgba(16, 16, 16, 0.2);

  font-family: Noto, serif;
}

/* container */


.padded {
  grid-area: main;
  display: flex;
  inline-size: 50%;
  background-image: linear-gradient(to right, rgb(63, 32, 32), rgb(187, 168, 168));
  background-image: url("Images/background1.jpg");;
}

.padded1,
ul {
  flex: 1;
  border: 2px;
  grid-area: main;
  background-image: linear-gradient(to right, rgb(63, 32, 32), rgb(187, 168, 168));
  background-image: url("Images/background1.jpg");
  margin: 10px;
  margin-block-start: 5%;
  font-size: 1.8em;
  list-style-type: none;
  list-style-position: outside;

  background-color: #d4ebf2;
  text-align: start;
  display: -webkit-inline-box;
  flex-direction: column;
  flex-wrap: wrap;
}

.padded2,
ul {
  grid-area: main;
  margin-inline-end: 10px;
  background-image: linear-gradient(to right, rgb(63, 32, 32), rgb(187, 168, 168));
  background-image: url("Images/background1.jpg");
  margin: 10px;
  margin-block-start: 5%;
  font-size: 1.8em;
  list-style-type: none;
  list-style-position: outside;

  background-color: #d4ebf2;
  text-align: start;
  display: -webkit-inline-box;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer {
  grid-area: footer;
  background-image: url("Images/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 40px;
  display: block;
  place-content: start;
  place-items: flex-start left;
  font-size: 1em
}

.astrodividermask:after {
  content: "";
  display: block;
  margin: 5% 0;
  inline-size: 100%;
  block-size: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px #049372
}

.astrodivider span {
  inline-size: 50px;
  block-size: 50px;
  position: absolute;
  inset-block-end: 100%;
  margin-block-end: -25px;
  inset-inline-start: 50%;
  margin-inline-start: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #4fb39c;
  background: #fff
}

.astrodivider i {
  position: absolute;
  inset-block-start: 4px;
  inset-block-end: 4px;
  inset-inline-start: 4px;
  inset-inline-end: 4px;
  border-radius: 100%;
  border: 1px dashed #68beaa;
  text-align: center;
  line-height: 40px;
  font-style: normal;
  color: #049372
}

.purple .astrodividermask:after {
  box-shadow: 0 0 8px #886fac
}

.astrodivider.purple span {
  box-shadow: 0 2px 4px #ab9ac4
}

.astrodivider.purple i {
  border: 1px dashed #b7a8cd;
  color: #886fac
}

.neonpurple .astrodividermask:after {
  box-shadow: 0 0 8px #9d00ff
}

.astrodivider.neonpurple span {
  box-shadow: 0 2px 4px #ba4cff
}

.astrodivider.neonpurple i {
  border: 1px dashed #c466ff;
  color: #9d00ff
}

.wrapper {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "header header header"
    "sidebar main rightside"
    "sidebar main rightside"
    "sidebar main rightside"
    "sidebar main rightside"
    "footer footer footer";
}

@media only screen and (min-inline-size: 250px) {
  .wrapper {

    grid-template-columns: 10% auto;
    grid-template-areas:
      "header header header"
      "sidebar main rightside"
      "sidebar main rightside"
      "sidebar main rightside"
      "sidebar main rightside"
      "footer footer footer";
  }

  @media only screen and (min-inline-size: 300px) {
    .wrapper {
      gap: 20px;
      grid-template-columns: 100px auto 100px;
      grid-template-areas:
        "header  header  header"
        "sidebar main rightside"
        "footer  footer  footer";
      max-inline-size: 300px;
    }
  }
}

.wrapper {

  display: inline-flex
}

.wrapper .icon {

  margin: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2
}



.wrapper .icon span {

  position: relative;
  z-index: 2;
  block-size: 60px;
  inline-size: 60px;
  display: block;
  background: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
  border-radius: 50%;
  text-align: center;
  transition: all .4s cubic-bezier(.68, -.55, .265, 1.55)
}



.wrapper .icon span i {

  font-size: 25px;
  line-height: 60px
}



.wrapper .icon .tooltip {

  position: absolute;
  inset-block-start: 0;
  background: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
  font-size: 20px;
  padding: 10px 18px;
  border-radius: 25px;
  color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all .4s cubic-bezier(.68, -.55, .265, 1.55)
}



.wrapper .icon:hover .tooltip {

  opacity: 1;
  pointer-events: auto;
  inset-block-start: -70px
}



.wrapper .icon .tooltip:before {

  position: absolute;
  content: "";
  block-size: 15px;
  inline-size: 15px;
  inset-block-end: -8px;
  inset-inline-start: 50%;
  transform: translateX(-50%) rotate(45deg)
}



.wrapper .icon:hover .tooltip,
.wrapper .icon:hover span {

  text-shadow: 0 -1px 0 rgba(0, 0, 0, .4)
}



.wrapper .icon:hover span {

  color: #db27ff
}



.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before,
.wrapper .facebook:hover span {

  background: #3b5999
}



.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before,
.wrapper .instagram:hover span {

  background: #46c1f6
}



.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before,
.wrapper .github:hover span {

  background: #333
}



.wrapper .email:hover .tooltip,
.wrapper .email:hover .tooltip:before,
.wrapper .email:hover span {

  background: #7e26b9
}